<div id="hd">
    <div class="yui-gc">
      <div class="yui-u first">
        <h1>{{ site.data.resume.basics.name }}</h1>
        <h2>{{ site.data.resume.basics.title }}</h2>
      </div>
      <div class="yui-u">
        <div class="contact-info">
          <h3><a id="pdf" href="{{ site.data.resume.basics.pdf }}">Download PDF</a></h3>
          <h3><a href="mailto:{{ site.data.resume.basics.email }}">{{ site.data.resume.basics.email }}</a></h3>
          <h3>{{ site.data.resume.basics.phone }} | <a href="https://www.linkedin.com/in/acestus/">{{ site.data.resume.basics.linkedin }}</a></h3>
        </div>
      </div>
    </div>
  </div>